<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>    
    <filter>
        <filter-name>secured</filter-name>
        <filter-class>filters.ConxFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>secured</filter-name>
        <url-pattern>/secured/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>securedCandidat</filter-name>
        <filter-class>filters.SecuredCandidatFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>securedCandidat</filter-name>
        <url-pattern>/secured/espace-candidat/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>securedRecruteur</filter-name>
        <filter-class>filters.SecuredRecruteurFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>securedRecruteur</filter-name>
        <url-pattern>/secured/espace-recruteur/*</url-pattern>
    </filter-mapping>
        <filter>
        <filter-name>securedAdmin</filter-name>
        <filter-class>filters.SecuredAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>securedAdmin</filter-name>
        <url-pattern>/secured/espace-admin/*</url-pattern>
    </filter-mapping>  
    <listener>
        <listener-class>utilities.MySessionCounter</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>  
        <extension>otf</extension>  
        <mime-type>font/opentype</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>ttf</extension>  
        <mime-type>application/x-font-ttf</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>woff</extension>  
        <mime-type>application/x-font-woff</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>woff2</extension>  
        <mime-type>application/x-font-woff2</mime-type>  
    </mime-mapping>
    
    <mime-mapping>  
        <extension>svg</extension>  
        <mime-type>image/svg+xml</mime-type>  
    </mime-mapping>
</web-app>
